<img src="{{ absolute_url(asset('build/images/LogoFantecoloTennis.png')) }}" alt="FANTECOLO tennis" width="72" height="72">
<h3>E' arrivato un messaggio dal sito</h3>

<p>{{ email }} ha scritto:<br>{{ messaggio }}</p>