{% extends 'base.html.twig' %}

{% block title %}
    Regolamento campo Fantecolo
{% endblock %}


{% block body %}
    <div class="container">

        <h1>REGOLAMENTO</h1>
        <ul>
            <li> lascia il campo come l'hai trovato, se non meglio. </li>
            <li> puoi prenotare 1 volta al giorno, per 1 o 2 ore </li>
            <li> gioca le ore che prenoti o cancellale appena sai di non poterle usare.</li>
            <li> se occupi il campo libero, clicca sul tasto <a href="{{ path('prenotazione_prenota_adesso') }}" class="btn btn-sm btn-success">Gioca 1 ora adesso</a></li>
            <li> puoi giocare quando vuoi, senza prenotare né occupare il campo, ma la precendenza l'avrà chi prenota e dovrai lasciare il campo in pochi minuti.</li>
        </ul>
        <img class="watermark-logo" src="{{ asset('build/images/WatermarkGSfantecolo.png') }}" alt="" width="144" height="144">


    </div>
{% endblock %}
