{% extends 'base.html.twig' %}

{% block title %}
    Regolamento campo Fantecolo
{% endblock %}


{% block body %}
    <div class="container">

        <h1>REGOLAMENTO</h1>
        <ul>
            <li> lascia il campo come l'hai trovato, se non meglio. </li>
            <li> puoi prenotare 1 volta al giorno, per 1 o 2 ore </li>
            <li> gioca le ore che prenoti o cancellale appena sai di non poterle usare.</li>
            <li> puoi venire a giocare quando vuoi, anche senza aver prenotato, ma dovrai lasciare il campo in 15 min a chi lo prenota.</li>
        </ul>
        <img class="watermark-logo" src="{{ asset('build/images/WatermarkGSfantecolo.png') }}" alt="" width="144" height="144">
        <p class="lead text-right">...fai come se il campo fosse casa tua.</p>

    </div>
{% endblock %}
