@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
/*@import "~jquery-ui/themes/base/all.css";*/

/*pick the Lato fonts individually to avoid importing the entire font family*/
@import "~roboto-font/css/fonts.css";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    font-family: 'Roboto', serif;
    height: 100%;
    /*background: url("../images/homeBW.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 120%;*/
    background-color: #c5c5c5;
}

#backgroud-imgage{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

a.navbar-brand{
    /*background-size: 400px auto;*/
    width: 100px;
    height: 100px;
    background: url("../images/LogoHeader.png");
    background-repeat: no-repeat;
}

.watermark-logo{
    position: fixed;
    right: 5px;
    bottom: 2px;
}