{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}

    <div class="container">
        <h3>Inserisci l'indirizzo mail con cui ti eri registrato.</h3>
        <p class="lead">Ti manderemo una mail per resettare la tua password.</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}